.wrapper {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 10;
    width: 100%;
    max-width: 500px;
}

.playListBtn {
    font-size: 30px;
    height: 35px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 0px;
    left: 35px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: var(--darker-color) 5px 5px 10px 5px;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.listSongs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75vh;
    overflow-y: scroll;
    padding-right: 20px;
}

.song {
    display: flex;
    gap: 20px;
}

.song:hover,
.song:hover .author {
    cursor: pointer;
    background-color: var(--gray-color);
    color: var(--red-color);
}

.thumb {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.detail {
    flex-grow: 1;
}

.name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.author {
    font-size: 14px;
    font-weight: 400;
    color: var(--darker-color);
}

.addSongButton {
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.song:hover .addSongButton {
    color: var(--red-color);
}

.hide {
    display: none;
}

@media screen and (max-width: 900px) {
    .wrapper {
        top: 0;
    }

    .container {
        top: 35px;
        left: 0;
    }

    .heading {
        font-size: 18px;
    }

    .thumb {
        width: 50px;
        height: 50px;
    }

    .name {
        font-size: 15px;
    }

    .author {
        font-size: 13px;
    }
}
