.container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.playBtn {
    font-size: 40px;
}

.active {
    color: red;
}
