:root {
    --red-color: #ff1919;
    --gray-color: #e3e3e3;
    --bg-color: #fff;
    --dark-color: #d0d0d1;
    --darker-color: #818181;
}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
