.container {
    margin-bottom: 20px;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.range {
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    background-color: var(--dark-color);
    background-image: linear-gradient(var(--red-color), var(--red-color));
    background-repeat: no-repeat;
    background-size: 0% 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .container {
        margin-bottom: 10px;
    }

    .range {
        height: 8px;
        margin-bottom: 5px;
    }

    .detail {
        font-size: 14px;
    }
}
