.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: calc(100vh - 80px);
    /* width: 1000px; */
    flex-wrap: wrap;
}

.player,
.list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0px;
    padding: 20px;
}

/* -------------------------- PLAYER -------------------------- */
.player {
    width: 100%;
    min-height: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.playerDetail {
    flex-grow: 1;
}

.playerName {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.playerAuthor {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    opacity: 0.8;
    font-weight: 500;
}

.playerThumb {
    border-radius: 10px;
}

.playerSong {
}

/* ----------------------- LIST SONGS ------------------------- */
.list {
    width: 400px;
}

.listHeader {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.listSongs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75vh;
    overflow-y: scroll;
    padding-right: 20px;
}

.selected {
    background-color: var(--gray-color);
    color: var(--red-color);
}

.listSong {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.listSong:hover {
    cursor: pointer;
    background-color: var(--gray-color);
    color: var(--red-color);
}

.listSongThumb {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.listSongDetail {
    flex-grow: 1;
}

.listSongName {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.listSongAuthor {
    font-size: 14px;
    font-weight: 400;
}

.listSongBtn {
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}
