.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.player,
.list {
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

/* -------------------------- PLAYER -------------------------- */
.player {
    justify-content: space-between;
}

.playerDetail {
    flex-grow: 1;
    margin-bottom: 30px;
    margin-top: 20px;
}

.playerName {
    text-align: center;
    font-size: 20px;
}

.playerAuthor {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--darker-color);
}

.playerThumb {
    border-radius: 10px;
}

.playerSong {
}

/* ----------------------- LIST SONGS ------------------------- */

.listHeader {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.listSongs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 75vh;
    padding-right: 20px;
}

.selected {
    background-color: var(--gray-color);
    color: var(--red-color);
}

.listSong {
    display: flex;
    gap: 20px;
}

.listSong:hover,
.listSong:hover .listSongAuthor {
    cursor: pointer;
    background-color: var(--gray-color);
    color: var(--red-color);
}

.listSongThumb {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.listSongDetail {
    flex-grow: 1;
}

.listSongName {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.listSongAuthor {
    font-size: 14px;
    font-weight: 400;
    color: var(--darker-color);
}

.redColor {
    color: var(--red-color);
}

.listSongBtn {
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

/* =============================== RESPONSIVE ================================ */
@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .player,
    .list {
        max-width: 700px;
        border-radius: 0%;
    }

    .player {
        padding-bottom: 0;
        border-bottom: 2px solid var(--gray-color);
    }

    .playerThumb {
        display: none;
    }

    .playerDetail {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .playerName,
    .listHeader {
        font-size: 18px;
    }

    .playerAuthor {
        font-size: 14px;
    }

    .listSongs {
        gap: 4px;
    }

    .listSongName {
        font-size: 15px;
    }

    .listSongAuthor {
        font-size: 13px;
    }

    .listSongThumb {
        height: 50px;
        width: 50px;
    }
}
